# =======================
# Node modules
# =======================
node_modules/

# =======================
# Environment variables
# =======================
.env

# =======================
# Google OAuth credentials (ne jamais push)
# =======================
secret/
secret/*

# =======================
# Logs
# =======================
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# =======================
# OS files
# =======================
.DS_Store

# =======================
# Build output
# =======================
dist/
build/

# =======================
# IDE configuration files
# =======================
.vscode/
.idea/


MUSIC-THEORY-EBOOK-CLEAN/