/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* #region NAVBAR */

.navbar {
  background-color: rgb(241, 241, 241);
  display: grid;
  position: fixed;
  top: 0;
  grid-template: 1fr / 60px 1fr 60px 60px;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: 100;
}

#homeButton,
#menuButton,
#signInButton {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  bottom: 20px;
  height: 100%;
  z-index: 100;
}

.navbarButton {
  height: 50px;
  width: 100px;
}

#homeButton {
  grid-area: 1 / 1 / 2 / 2;
  transform: scale(0.44);
}
#signInButton {
  grid-area: -1 / -2 / -2 / -3;
  transform: scale(0.4);
}
#menuButton {
  grid-area: -1 / -1 / -2 / -2;
  transform: scale(0.6);
}

#homeButton img,
#signInButton img,
#menuButton img {
  display: block;
  width: 100%;
  height: auto;
}

/* MENUNAVBAR */
.menuNavbar {
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  justify-content: center;
  display: flex;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 50px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;
}
.menuNavbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menuNavbar > button {
  width: 100%;
  border: none;
}

.menu-item {
  transition: color 0.3s ease, transform 0.3s ease;
  color: #474747; /* Couleur normale */
  cursor: pointer; /* Curseur pointeur pour indiquer que c’est cliquable */
  display: inline-block; /* ou block selon ta structure */
}

.menu-item:hover {
  color: #000000; /* Couleur plus foncée au survol */
  transform: scale(1.2);
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Agrandit légèrement le texte */
}

/* #endregion NAVBAR */

/* #region LANDING PAGE */
.landingPage {
  width: 100vw;
  height: 100vh;

  border: solid black 1px;
}

.landingPage > .videoContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.landingPage > .videoContainer > video {
  height: 100%;
  width: 100%;
  transform: scale(2);
}

.landingPage > .titre {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 400px;
  left: 30px;
  font-size: 45px;
  border: solid white 1px;
  width: 800px;
}

.landingPage > #offerButton {
  color: black;
  position: relative;
  bottom: 350px;
  left: 300px;
  border-radius: 5px;
  border: none;
  height: 80px;
  width: 200px;
}

/* #endregion LANDING PAGE */

/* #region OFFER */
.offerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  height: 100vh;
  width: 80%;
}
.presentation {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation > h1 {
  font-size: 3rem;
}
.presentation > h1 > span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.offer {
  border: solid black 1px;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* OFFER1 */
.offer1 {
  height: 95%;
  width: 25%;
  border-radius: 10px;
  border: solid black 1px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.offer1 > h1 {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 20px;
}

.offer1 > .text {
  color: white;
  position: absolute;
  bottom: 100px;
  padding: 10px;
  font-size: 1.7rem;
}
/* OFFER2 */
.offer2 {
  height: 95%;
  width: 25%;
  border-radius: 10px;
  border: solid black 1px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.offer2 > h1 {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 20px;
}

.offer2 > .text {
  color: white;
  position: absolute;
  bottom: 100px;
  padding: 10px;
  font-size: 1.7rem;
}
/* OFFER3 */
.offer3 {
  height: 95%;
  width: 25%;
  border-radius: 10px;
  border: solid black 1px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.offer3 > h1 {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 20px;
}

.offer3 > .text {
  color: white;
  position: absolute;
  bottom: 100px;
  padding: 10px;
  font-size: 1.7rem;
}

/* #endregion OFFER */
