/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-family: "nunito";
  font-weight: 100;
}

/* #region NAVBAR */

.navbar {
  background-color: rgb(241, 241, 241);
  display: grid;
  position: fixed;
  top: 0;
  grid-template: 1fr / 60px 1fr 60px 60px;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: 100;
}

#homeButton,
#menuButton,
#signInButton {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  bottom: 20px;
  height: 100%;
  z-index: 100;
}

.navbarButton {
  height: 50px;
  width: 100px;
}

#homeButton {
  grid-area: 1 / 1 / 2 / 2;
  transform: scale(0.44);
}

#signInButton {
  grid-area: -1 / -2 / -2 / -3;
  transform: scale(0.4);
}

#menuButton {
  grid-area: -1 / -1 / -2 / -2;
  transform: scale(0.6);
}

#homeButton img,
#signInButton img,
#menuButton img {
  display: block;
  width: 100%;
  height: auto;
}

/* MENUNAVBAR */
.menuNavbar {
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  justify-content: center;
  display: flex;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 50px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;
}

.menuNavbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menuNavbar>button {
  width: 100%;
  border: none;
}

.menu-item {
  transition: color 0.3s ease, transform 0.3s ease;
  color: #474747;
  /* Couleur normale */
  cursor: pointer;
  /* Curseur pointeur pour indiquer que c’est cliquable */
  display: inline-block;
  /* ou block selon ta structure */
}

.menu-item:hover {
  color: #000000;
  /* Couleur plus foncée au survol */
  transform: scale(1.2);
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Agrandit légèrement le texte */
}

/* #endregion NAVBAR */

/* #region LANDING PAGE */
.landingPage {
  width: 100vw;
  height: 100vh;
}

.landingPage>.videoContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.landingPage>.videoContainer>video {
  height: 100%;
  width: 100%;
  transform: scale(2);
}

.landingPage>.titre {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 400px;
  left: 30px;
  font-size: 45px;
  width: 800px;
}

.landingPage>.titre>h1 {
   font-family: "Outfit";
  font-weight: 500;
}
.Liberté{
   font-family: "Boogaloo";
  font-style: italic;
  font-size: 110%;
  font-weight: 900;

}

.landingPage>#offerButton {
  color: black;
  position: relative;
  bottom: 350px;
  left: 300px;
  border-radius: 5px;
  border: none;
  height: 80px;
  width: 200px;
  transition: ease-in-out 0.3s;
 cursor: pointer;
}

.offerButtonHover{
  transform: scale(1.05);
  
}
.landingPage>#offerButton> h1{
  font-family: "nunito" ;
  font-weight: 500;

}
/* #endregion LANDING PAGE */

/* #region OFFER */
.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80%;
}

/* PRESENTATION */
.presentation {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation>h1 {
  font-size: 3rem;
  font-family: "outfit";
  font-weight: 200;
}

.presentation>h1>span {
  font-family: "boogaloo";
  font-size: 120%;
}

  /* OFFER */
  .offerContainer {
    height: 70%;
    display: flex;
    justify-content: space-around;

  }

  .allOffer {
    border-radius: 15px;
    width: 25%;
    height: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .allTitle {
    position: absolute;
    top: 25px;
    font-size: 1.5rem;
    color: white;
    z-index: 2;
  }

  .allText {
    position: absolute;
    bottom: 25px;
    font-size: 1.5rem;
    margin: 15px;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    font-family: "outfit";
    font-weight: 300;
  }
  .title1{
    font-size: 2.5rem;}
  .title2{
    font-size: 2.3rem;
  }
  .title3{
    font-size: 2.3rem;
  }

  .offer1,
  .offer2,
  .offer3 {
    transition: ease-in-out 0.5s;
  }

  .overlay1 {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .overlay2 {
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .overlay3 {
    background-color: rgba(0, 0, 0, 0.219);
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .imgBack1,
  .imgBack2,
  .imgBack3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.8s ease, filter 0.5s ease;
  }

  /* HOVER */
  .offerHover {
    transform: scale(1.05);
  }

  .imgBackOfferHover {
    filter: blur(5px);
  }

  .textOfferHover {
    opacity: 1;
  }

/* #endregion OFFER */