body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  margin-bottom: 100px;
}

/* #region video */
.videoContainer {
  width: 60vw;
  height: 70vh;
  overflow: hidden;
}

/* buttonVideo */
.video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showButton {
  opacity: 1;
}

/* #endregion video */

/* #region interstDesireContainer */

.interstDesireContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 70vh;
  position: relative;
  margin-bottom: 20px;
}

.together {
  width: 45%;
  height: 95%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.together .title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 50px;
}
.together ul {
  margin: 30px;
}
.together li p {
  font-size: 1.5rem;
}
.bold {
  font-size: 110%;
  font-weight: 600;
}
.interstContainer {
  background-color: #93e9b7;
  color: #2f4f4f;
}
.interstContainer .title {
  color: #2f4f4f;
}
#découvrir {
  font-weight: 900;
  font-size: 2.2rem;
}

.desireContainer {
  background-color: #f8cb61;
  color: #7a4e0d;
}

#gagnez {
  font-weight: 900;
  font-size: 2.2rem;
}

/* #endregion interstDesireContainer */

/* #region teaser */

.teaser{
  height: 15vh;
  display: flex;
  align-items: center;
}
.teaser h1{
  font-size: 2.5rem;
}

/* #endregion teaser */

/* #region slider1 */
.splide {
  width: 60vw;
  height: 50vh;
  overflow: hidden;
}

.splide__slide {
  position: relative;
}

.splide__slide h1 {
  color: white;
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 2.2rem;
  font-weight: 900;
}

.splide__slide > .text {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 100px;
  left: 60px;
}

.splide__slide p {
  color: white;
  position: absolute;
  font-size: 1.2rem;
  font-weight: 300;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #endregion slider1 */

/*#endregion OFFER */

#buyButtonFormation {
  width: 20vw;
  height: 15vh;
  background-color: blue;
  margin-bottom: 20px;
}
