/* #region ITEMS FIXE  */
.guitarNeckContainer {
  height: auto;
  display: flex;
  border: solid blue 1px;
}

.guitarNeck {
  width: 1200px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);   /* ← 18 colonnes maintenant */
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  border: solid rgb(255, 136, 0) 1px;
}

/* --- CORDES --- */
.string1,.string2,.string3,.string4,.string5,.string6 {
  border-top: 1px solid black;
  width: 100%;
  grid-column: 2 / -1;  /* elles couvrent toute la largeur */
}

.string1 { grid-row: 1; }
.string2 { grid-row: 2; }
.string3 { grid-row: 3; }
.string4 { grid-row: 4; }
.string5 { grid-row: 5; }
.string6 { grid-row: 6; }

/* --- REPÈRES DÉCALÉS D’UNE COLONNE --- */
.repere3,.repere5,.repere7,.repere9,.repere12a,.repere12b,.repere17,.repere15 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(112, 111, 111);
  position: relative;
  margin: auto;
  top: 25px;
}

/* Tous les repères déplacés d’une colonne vers la droite */
.repere3   { grid-column: 4; grid-row: 3; }
.repere5   { grid-column: 6; grid-row: 3; }
.repere7   { grid-column: 8; grid-row: 3; }
.repere9   { grid-column: 10; grid-row: 3; }
.repere12a { grid-column: 13; grid-row: 3; top: -20px; }
.repere12b { grid-column: 13; grid-row: 4; bottom: -20px; }
.repere15  { grid-column: 16; grid-row: 3; }
.repere17  { grid-column: 18; grid-row: 3; }

/* --- FRETTES --- */
.fret {
  grid-row: 1 / -1;     
  width: 2px;           
  height: 100%;          
  background: gray;      
  justify-self: start;  /* collée à gauche */
  position: relative;
}

/* Nouvelle logique : 18 colonnes → frette0 + 17 frettes */
.fret0  { 
  grid-column: 1;
  width: 0px;
 }
.fret1  { 
  grid-column: 2;
  width: 10px;
 }

.fret2  { grid-column: 3; }
.fret3  { grid-column: 4; }
.fret4  { grid-column: 5; }
.fret5  { grid-column: 6; }
.fret6  { grid-column: 7; }
.fret7  { grid-column: 8; }
.fret8  { grid-column: 9; }
.fret9  { grid-column: 10; }
.fret10 { grid-column: 11; }
.fret11 { grid-column: 12; }
.fret12 { grid-column: 13; }
.fret13 { grid-column: 14; }
.fret14 { grid-column: 15; }
.fret15 { grid-column: 16; }
.fret16 { grid-column: 17; }
.fret17 { grid-column: 18; }

.allNotes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative; /* pour le ::before */
}

/* cercle visible par défaut avec ::before */
.allNotes::before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ccc; /* gris clair par défaut */
  pointer-events: none;
  transition: background-color 0.2s;
}

/* état activé */
.allNotes.active::before {
  background-color: orange; /* couleur visible quand la note est activée */
}
.Ehighstring {
  grid-row: 1 / 2;
}

.Bstring {
  grid-row: 2 / 3;
}

.Gstring {
  grid-row: 3 / 4;
}

.Dstring {
  grid-row: 4 / 5;
}

.Astring {
  grid-row: 5 / 6;
}

.Estring {
  grid-row: 6 / 7;
}

.E0, .A0, .D0, .G0, .B0, .e0 { grid-column: 1; }
.E1, .A1, .D1, .G1, .B1, .e1 { grid-column: 2; }
.E2, .A2, .D2, .G2, .B2, .e2 { grid-column: 3; }
.E3, .A3, .D3, .G3, .B3, .e3 { grid-column: 4; }
.E4, .A4, .D4, .G4, .B4, .e4 { grid-column: 5; }
.E5, .A5, .D5, .G5, .B5, .e5 { grid-column: 6; }
.E6, .A6, .D6, .G6, .B6, .e6 { grid-column: 7; }
.E7, .A7, .D7, .G7, .B7, .e7 { grid-column: 8; }
.E8, .A8, .D8, .G8, .B8, .e8 { grid-column: 9; }
.E9, .A9, .D9, .G9, .B9, .e9 { grid-column: 10; }
.E10, .A10, .D10, .G10, .B10, .e10 { grid-column: 11; }
.E11, .A11, .D11, .G11, .B11, .e11 { grid-column: 12; }
.E12, .A12, .D12, .G12, .B12, .e12 { grid-column: 13; }
.E13, .A13, .D13, .G13, .B13, .e13 { grid-column: 14; }
.E14, .A14, .D14, .G14, .B14, .e14 { grid-column: 15; }
.E15, .A15, .D15, .G15, .B15, .e15 { grid-column: 16; }
.E16, .A16, .D16, .G16, .B16, .e16 { grid-column: 17; }
.E17, .A17, .D17, .G17, .B17, .e17 { grid-column: 18; }


/* #endregion ITEMS FIXE */
