body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.moduleVideo {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

/* #region NAVBAR */

.navbar {
  background-color: rgb(241, 241, 241);
  display: grid;
  position: fixed;
  top: 0;
  grid-template: 1fr / 60px 1fr 60px 60px;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateY(0);
  z-index: 100;
}

#homeButton,
#menuButton,
#signInButton {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  bottom: 20px;
  height: 100%;
  z-index: 100;
}

.navbarButton {
  height: 50px;
  width: 100px;
}

#homeButton {
  grid-area: 1 / 1 / 2 / 2;
  transform: scale(0.44);
}

#signInButton {
  grid-area: -1 / -2 / -2 / -3;
  transform: scale(0.4);
}

#menuButton {
  grid-area: -1 / -1 / -2 / -2;
  transform: scale(0.6);
}

#homeButton img,
#signInButton img,
#menuButton img {
  display: block;
  width: 100%;
  height: auto;
}

/* MENUNAVBAR */
.menuNavbar {
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  justify-content: center;
  display: flex;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 50px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;
}

.menuNavbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menuNavbar>button {
  width: 100%;
  border: none;
}

.menu-item {
  transition: color 0.3s ease, transform 0.3s ease;
  color: #474747;
  /* Couleur normale */
  cursor: pointer;
  /* Curseur pointeur pour indiquer que c’est cliquable */
  display: inline-block;
  /* ou block selon ta structure */
}

.menu-item:hover {
  color: #000000;
  /* Couleur plus foncée au survol */
  transform: scale(1.2);
  transform-origin: center center;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Agrandit légèrement le texte */
}

/* #endregion NAVBAR */

